In [1]:
!pip install pandas numpy

Requirement already satisfied: pandas in c:\users\dharshan s\appdata\local\programs\python\python311\lib\site-packages (2.3.1)
Requirement already satisfied: numpy in c:\users\dharshan s\appdata\local\programs\python\python311\lib\site-packages (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dharshan s\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dharshan s\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dharshan s\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\dharshan s\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import pandas as pd
import numpy as np

# Creating DataFrames
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Salary': [50000, 60000, 70000, 80000]
}

df = pd.DataFrame(data)
print(df)

# Reading from CSV
# df = pd.read_csv('data.csv')

# Basic operations
print(df.head(2))            # First 2 rows
print(df.describe())         # Summary statistics
print(df['Age'].mean())      # Average age

#Data Selection
print(df[df['Age']>30])
print(df.loc[1:2,['Name','Salary']])

# Handling missing data
df_with_nan = pd.DataFrame({
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, np.nan, 8]
})
print(df_with_nan.fillna(value=0))    # Replace NaN with 0
print(df_with_nan.dropna())           # Drop rows with NaN

# Grouping and aggregation
df['Department'] = ['HR', 'Tech', 'Tech', 'HR']
print(df.groupby('Department').mean())  # Average by department

# Merging DataFrames (Like SQL joins)
df2 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Eve'],
    'Bonus': [2000, 1500, 3000]
})
print(pd.merge(df, df2, on='Name', how='left'))  # Left join

# Time series functionality
date_rng = pd.date_range(start='1/1/2023', end='1/10/2023', freq='D')
ts = pd.DataFrame(date_rng, columns=['date'])
ts['value'] = np.random.randint(0, 100, size=(len(date_rng)))
ts.set_index('date', inplace=True)
print(ts.resample('3D').mean())  # Resample to 3-day periods

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000
    Name  Age  Salary
0  Alice   25   50000
1    Bob   30   60000
             Age        Salary
count   4.000000      4.000000
mean   32.500000  65000.000000
std     6.454972  12909.944487
min    25.000000  50000.000000
25%    28.750000  57500.000000
50%    32.500000  65000.000000
75%    36.250000  72500.000000
max    40.000000  80000.000000
32.5
      Name  Age  Salary
2  Charlie   35   70000
3    David   40   80000
      Name  Salary
1      Bob   60000
2  Charlie   70000
     A    B
0  1.0  5.0
1  2.0  0.0
2  0.0  0.0
3  4.0  8.0
     A    B
0  1.0  5.0
3  4.0  8.0